<div class="row">

  <div class="lead blockquote separator">
    <br>
    <p class="mb-0 h4">Welcome to the post page! <br> Here you can view all the things you have posted!</p>

    <span class="blockquote-footer">
    if you cant see the posts click <a routerLink="fake" href="#">Here</a> for them to reload!
    </span>
    <span class="blockquote-footer">
    if you hava an account click <a routerLink="upload" href="#">Here</a> to upload a post!
    </span>

  </div>
</div>

<div class="row" *ngFor="let item of posts">

  <!-- Post Content Column -->
  <div class="col separator">

    <span class="alert alert-light" style="float:right" *ngIf="currentUser==item.author">
      <ul class="list-group">

        <a href="fake#update-{{item.id}}"
           class="list-group-item list-group-item-action list-group-item-warning"
           (click)="updatePost($event,item)"
        >Update</a>


  <a href="fake"
     class="list-group-item list-group-item-action list-group-item-danger"
     (click)="deletePost($event , item)">Delete</a>

      </ul>

    </span>


    <!-- Title -->
    <h1 class="h2">{{ item.title }}</h1>
    <!-- Author -->
    <p class="lead">
      by <span class="text-info">{{item.author }}</span>
      <br>
      Category:
      <small class="text-muted">{{ item.category }}</small>
    </p>
    <!-- Date/Time -->
    <p>Posted on {{ item.dateAdded }}</p>
    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{ item.imageUrl }}" alt="">
    <!-- Post Content -->
    <div class="lead">
      <!--span class="description">Description:</span--><br>
      {{ item.description }}
    </div>


    <div id="update-{{item.id}}">

      <div *ngIf="editPost && postToEdit.id == item.id" class="panel-body">

        <br>

        <form (submit)="UpdateThePost(item)" class="jumbotron">
          <span class="text-info"> For now you can only update the title and description!</span>
          <br>
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="item.title" id="title" type="text" class="form-control" name="title"
                   placeholder="Title">
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="item.description" rows="3" class="form-control" id="description"
                      name="description" placeholder="Description"></textarea>
          </div>

          <button type="submit" class="btn btn-warning">Update</button>

        </form>

      </div>

    </div>

  </div>

</div>

<!--
<div class="row" *ngIf="havePosts != false ;then nave_post else no_post">

  <ng-template #nave_post>
    <!-- Post Content Column --
<div *ngFor="let item of posts">
  <div [item]="item"  class="col separator">
    <!-- Title --
    <h1 class="h2">{{ item.title }}</h1>
    <!-- Author --
    <p class="lead">
      by <span class="text-info">{{item.author }}</span>
      <br>
      Category:
      <small class="text-muted">{{ item.category }}</small>
    </p>
    <!-- Date/Time --
    <p>Posted on {{ item.dateAdded }}</p>
    <!-- Preview Image --
    <img class="img-fluid rounded" src="{{ item.imageUrl }}" alt="">
    <!-- Post Content --
    <div class="lead">
      <!--span class="description">Description:</span--<br>
      {{ item.description }}
    </div>

  </div>
</div>
</ng-template>

<ng-template #no_post>other content here...</ng-template>

</div>

-->
