<div class="row">

  <div class="col"><img src="assets/images/404.png"/></div>

  <div class="col"> the page you were looking for is not found , maybe you can find it here :<br>

    <ul class="list-unstyled">
      <li><a class="btn" href="">Home</a></li>
      <li><a class="btn" href="/fake">Posts</a></li>
      <li><a class="btn" href="/login">login</a></li>
      <li><a class="btn" href="/register">Register</a></li>
      <li><a class="btn" href="/upload">Upload</a></li>

    </ul>

  </div>

</div>
