<br><br><br>
<div class="row jumbotron">

  <div class="col-sm-6">

    <div class="well well-lg"> Well hello there! <br><br>

      You are probably wondering why I made this app/site/whatever. <br><br>
      And the answer to that question is very simple!

    </div>


  </div>
  <div class="col-sm-6 ">

    <img src="assets/images/about-main.jpg" class="img-thumbnail" width="100%" height="70%">


  </div>
  <br> <br> <br>
  <div class="col-sm-6 padd-top">

    <img src="assets/images/about2.png" class="img-thumbnail" width="100%" height="70%">

  </div>
  <div class="col-sm-6 padd-top">

    <div class="well well-lg"> Yeah i had to make an Angular 5 project. <br><br>

      BUT! It's wasn't that bad or hard.<br><br>
      So I hope you enjoy your time spent on here!

    </div>


  </div>

</div>


