<form ngNativeValidate #loginForm="ngForm">
  <h1>LOGIN</h1>
  <br>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]='email' class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]='password' class="form-control" minlength="6" required>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary  reg-btn" (click)='onLogin()' [disabled]='loginForm.invalid'>Log in</button>
  </div>
</form>
